
<div class="container">

  <form [formGroup]="newOfferGroup" (ngSubmit)="onSubmit()" class="create">
    <h1>New Offer</h1>
    <mat-form-field>
      <mat-label>Artist Title</mat-label>
      <input matInput formControlName="title" placeholder="artist title">
      <mat-error *ngIf="newOfferGroup.get('title')?.invalid">
        Please enter a valid title
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Artist Description</mat-label>
      <input matInput formControlName="description" placeholder="artist title">
      <mat-error *ngIf="newOfferGroup.get('description')?.invalid">
        Please enter a valid description
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Artist Points</mat-label>
      <input matInput formControlName="points" placeholder="artist title" type="Number">
      <mat-hint>Points must be less than 100</mat-hint>
      <mat-error *ngIf="newOfferGroup.get('points')?.invalid">
        Please enter valid points [0-100]
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label> Business ID</mat-label>
      <input matInput formControlName="businessId" placeholder="artist title" type="Number">
      <mat-error *ngIf="newOfferGroup.get('businessId')?.invalid">
        Please enter a valid ID
      </mat-error>
    </mat-form-field>
    <div style="gap: 1rem; display: flex">
      <button mat-raised-button color="warn" (click)="onCancel()">Cancel</button>
      <button mat-raised-button color="primary" (click)="onSubmit()" type="submit">Save</button>
    </div>

  </form>
</div>
